<!DOCTYPE HTML>{% load staticfiles %}
<html>
<head>
<title>HOME</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="/static/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="/static/css/main.css" />
<!--[if lte IE 9]><link rel="stylesheet" href="/static/css/ie9.css" /><![endif]-->
</head>
<body>

<!-- Banner -->
<section id="banner">
	<div class="inner split">
		<section>
			<h2>Welcome to my world! Be here, your are the god</h2>
		</section>
		<section>
			<p>Learn , Work , Life , and Share</p>
			<ul class="actions">
				<li><a href="#" class="button special">Let's Go</a></li>
			</ul>
		</section>
	</div>
</section>

{% block mainbody %}
{% endblock %}

<!-- Footer -->
<footer id="footer">
	<div class="copyright">Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></div>
</footer>

<!-- Scripts -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/skel.min.js"></script>
<script src="/static/js/util.js"></script>
<!--[if lte IE 8]><script src="/static/js/ie/respond.min.js"></script><![endif]-->
<script src="/static/js/main.js"></script>

</body>
</html>